@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	background: #22313F;
	color: #EEEEEE;
	text-align: center;
	font-family: 'Roboto', Sans-Serif !important;
}

section {
  color: #eeeeee;
}

h1 {
	font-size: 100px
}

h2 {
  font-size: 50px;
  padding: 10px;
}

code {
  font-size: 12px;
  color: #22313F;
  vertical-align: top;
  font-weight: bold
}

input {
  display: block;
  margin: 10px auto;
  padding: 20px;
  width: 40%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  background-color: #ccc;
  color: #EEEEEE;
  text-overflow: ellipsis;
  font-size: 1.5em;
  border-radius: 0;
  text-align: center;

}

input:focus, textarea:focus, button:focus {
    outline: none;
    background: #ccc;
    color: #22313F;
}

input[type=button] {
  padding: 10px;
  border: 3px solid #EEEEEE;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 700;
  color: #EEEEEE;
  cursor: pointer;
  margin: 20px;
  background: #E26A6A;
  width: auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #555;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #555;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #555;
}

button {
  padding: 0.6em 1.5em;
  border: 3px solid #EEEEEE;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #EEEEEE;
  cursor: pointer;
  margin: 20px;
  background: #E26A6A;
}

button:hover {
  background: #F64747;
}

.divider {
  width: 50%;
  border-top: 2px solid #eee;
  margin: 40px auto;
}

/*** Login Page ***/

#login-window {
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
/*  background: #32526e;*/
  background: #22313F;
  box-sizing: border-box;
  padding-top: 40px;
}

#login-wrapper {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  border: solid 2px #eee;
}

#login-box {
	display: block;
	width: 45%;
	height: 600px;
  padding: 20px;
  margin-top: 20px;
	float: left;
}

#create-account-box {
	display: block;
	width: 45%;
	height: 600px;
	padding: 20px;
  float: right;
  margin-top: 20px;
  border-left: solid 2px #eeeeee;
}

#close-btn {
  float: right;
}

#session {
  font-size: 200px;
  color: white;
}

#app-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*** Home Page ***/

#welcome {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000 !important;
  position: fixed;
  background: url('../images/home.jpg');
  background-size: cover
}

#inner-home-container {
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 100px;
  float: right;
}

/*** Header Bar ***/

#header {
  width: 100%;
  background: #F64747;
  height: 46px;
  position: relative;
  top:0;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}

#logo {
  float: left;
  font-size: 22px;
  padding: 10px;
}

#top-menu {
  float: right;
  padding: 10px;
  font-size: 20px;
}

/*Account Popup */
#popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
}

#create-inner-wrapper {
  padding: 50px;
  position: fixed;
  height: 80%;
  width: 100%;
  overflow: scroll;
  background: #22313F;
  margin: 0 auto;
}

#create-inner-wrapper h1 {
  font-size: 80px
}

#create-inner-wrapper h2 {
  font-size: 40px
}

#create-btn {
  position: fixed;
  bottom: 10px; 
  right: 6px;
  font-size: 24px;
}

/*REVEAL TEST STUFF*/
/*-- Simple CSS Reset -- */


* {
  padding: 0;
  margin: 0;
}


/* -- Header styles -- */


.homebanner {
  display: none;
  height: 80px;
  background-color: #3c4446;
}

.homebannertext {
  text-align: center;
  padding-top: 22px;
  font-family: 'Open Sans Condensed',serif;
  font-weight: bold;
  color: white;
}

.homebannertext span {
  color: #d6441b;
}

#logo {
  text-decoration: none;
  color:white !important;
}

/* -- Slide styles -- */

.slides section{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* -- Form styles -- */


form.login {
  position: fixed;
/*  top: 50%;*/
/*  max-height: 140px;
  max-width: 390px;*/
  width: 100%;
/*  left: 50%;*/
/*  margin: -70px 0 0 -195px;*/
  margin: 0 auto;
  text-align: center;
  z-index: 100;
  height: 100%;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 60px 0 0;
}

form.login h1 {
  color: #333;
}

form.login h2 {
  color: #333;
  padding-top:20px;
  margin-bottom: -10px;
}

form.login span {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  line-height: 50px
}

form.login input[type=text] {
  position: relative;
  width: 300px;
  height: 60px;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255,255,255, 0.8);
  border: 1px solid #C5C5C5;
  border-radius: 2px;
  margin-top: 26px;
}

form.login input[type=text].denied {
  border: 1px solid red;
  outline: none;
}

form.login input[type=text].animation {
  transition: 0.1s;
  -webkit-animation-name: shakeMe;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 0s;
  animation-name: shakeMe;
  animation-duration: 0.6s;
  animation-delay: 0s;
}

form.login input[type=text]::-webkit-input-placeholder {
  color: #ABABAB;
}

form.login input[type=submit] {
  position: relative;
  height: 50px;
  width: 60px;
  line-height: 29px;
  text-align: center;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: rgba(90, 147, 187, 0.69);
  color: #fff;
}


@-webkit-keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@-moz-keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@-o-keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@media(max-width: 500px){
  form.login {
    max-height: 120px;
    max-width: 300px;
    margin: -60px 0 0 -150px;
    padding: 40px 0 0;
  }
}



