@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	background: #22313F;
	color: #EEEEEE;
	text-align: center;
	font-family: 'Roboto', Sans-Serif !important;
  width: 100%;
  height: 100%;
}

section {
  color: #eeeeee;
}

h1 {
  color: #fff;
	font-size: 90px;
  margin-bottom: 14px;
  text-shadow: 1px 1px 1px #222;

}

h2 {
  font-size: 50px;
  padding: 10px;
}

h3 {
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px 1px #222;
}

code {
  font-size: 14px;
  color: #E26A6A;
  vertical-align: top;
  font-weight: bold
}

input {
  display: block;
  margin: 10px auto;
  padding: 20px;
  width: 60%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  background-color: #ccc;
  color: #EEEEEE;
  text-overflow: ellipsis;
  font-size: 1.5em;
  border-radius: 0;
  text-align: center;

}

textarea {
  resize: none;
  font-size: 22px;
  padding:12px;
  margin: 0 0 20px 0;
  border-radius: 5px;
  border: none;
  background: #22313F;
  color: #fff
}

textarea:focus {
  outline: none;
  background: #2b3e4f
}

input:focus, button:focus {
    outline: none;
    background: #ccc;
    color: #22313F;
}

input[type=button] {
  padding: 10px;
  border: 3px solid #EEEEEE;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 700;
  color: #EEEEEE;
  cursor: pointer;
  margin: 20px;
  background: #E26A6A;
  width: auto;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ccc;
}

button {
  padding: 0.6em 1.5em;
  border: 3px solid #EEEEEE;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #EEEEEE;
  cursor: pointer;
  margin: 20px;
  background: #E26A6A;
}

button:hover {
  background: #d76868;
}

input[type=text],
input[type=password] {
  font-size: 30px;
  color: #ccc;
  background: #22313F;
  border-bottom: 5px solid #34495E
}

.clear: {
  clear: both;
  margin: 100px 0;
}

.divider {
  width: 50%;
  border-top: 2px solid #eee;
  margin: 40px auto;
}

.login-top-btn {
  position: fixed;
  float: right;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  z-index: 100000;
  text-decoration: none;
}

.login-top-btn:hover {
  color: #E26A6A;
}

#preview-txt {
  position: relative;
  top: 10px;
  margin: 0 auto;
  z-index: 1000;
  font-size: 20px;
  color: #FAFBD5
}

/*** Login Page ***/

#login-window {
  position: fixed;
  background-color: white;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
/*  background: #32526e;*/
  background: #22313F;
  box-sizing: border-box;
  padding-top: 40px;
}

#login-wrapper {
  width: 1200px;
  height: auto;
  margin: 0 auto;

}

#login-box {
	display: block;
	width: 45%;
	height: 500px;
  padding: 20px;
  margin-top: 20px;
	float: left;
}

#login-box h4 {
  font-size: 20px;
}

#create-account-box {
	display: block;
	width: 45%;
	height: 500px;
	padding: 20px;
  float: right;
  margin-top: 20px;
  border-left: solid 2px #eeeeee;

}

#create-account-btn {
  margin-top: 40px
}

#login-btn {
  margin-top: 130px;
}

#close-btn {
  position: absolute;
  font-size: 20px;
  padding: 6px;
  right: 2%;
  top: 5%;
  color: #fff;
  border-radius: 25%;
  border: 2px solid #ccc;
  float: right;
  text-decoration: none
}

#close-btn:hover {
  color: #d76868;
}

#session {
  font-size: 200px;
  color: white;
}

#app-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*** Home Page ***/

#welcome {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000 !important;
  position: fixed;
/*  background: url('../images/home.jpg');
  background-size: cover*/

}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#video-background-overlay {
background-image: url(../images/bg_pattern.png); 
position: fixed; 
opacity: 0.8; 
left: 0px; 
top: 0px; 
width: 100%; 
height: 100%; 
z-index: -1;
}

#inner-home-container {
  display: block;
  width: 900px;
  height: 500px;
  margin: 200px auto;

}

/*** Header Bar ***/

#header {
  width: 100%;
  background: #F64747;
  height: 46px;
  position: relative;
  top:0;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}

#logo {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  font-size: 24px;
  padding: 10px;
  z-index: 999999
}

#top-menu {
  float: right;
  padding: 10px;
  font-size: 20px;
}

/*Account Popup */
#popup {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#create-inner-wrapper {
  padding: 0 50px;
  position: relative;
  height: 80%;
  width: 800px;
  overflow: scroll;
  background: #22313F;
  margin: 0 auto;
  background: #ccc
/*  margin-bottom: 40px;*/
}

.create-title {
  font-size: 62px;
  margin: 40px 0 10px 0;
}

#create-inner-wrapper h2 {
  color: #E26A6A;
  font-size: 50px;
  margin: 8px 4px 22px 4px;
}

.welcome-name {
  position: absolute;
  color: #fff;
  margin: 0;
  font-size: 20px;
  right: 0;
  top: 0;
}

.welcome-name a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
    vertical-align: middle;
}

#create-inner-wrapper h3 {
  margin: 12px 0;
  padding-top: 20px;
}

#create-inner-wrapper input[type=text] {
  background: #22313F;
  border: none;
  color: #fff;
  border-radius: 5px
}

#create-inner-wrapper input[type=text]:focus {
  background: #2b3e4f
}

#create-inner-wrapper::-webkit-scrollbar {
    width: 1em;
}
 
#create-inner-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#create-inner-wrapper::-webkit-scrollbar-thumb {
  background-color: #E26A6A;
}

#slide-selector {
  float: left;
  position: absolute;
  left: 10px;
  top: 30%;
  border: 2px solid #fff;
  padding: 10px;
}

#slide-selector li {
  padding: 5px;
  list-style-type: none;
  font-size: 20px;
}

#slide-selector li a {
  cursor: pointer;
}

#slide-selector li a:hover {
  color: #E26A6A;
}

.divider {
  border-bottom: 5px solid #ccc;
  width: 900px;
  margin: 0 auto 40px;
}

#create-btn {
  position: fixed;
  bottom: 10px; 
  left: 6px;
  font-size: 24px;
}

.slide-nav {
  color: #eeeeee;
}

.slide-box-1, .slide-box-2, .slide-box-3, .slide-box-4,
.slide-box-5, .slide-box-6, .slide-box-7, .slide-box-8,
.slide-box-9, .slide-box-10 {
  display: none;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
/*  border: 3px solid #fff;*/
  padding: 20px 0;
}

#slide-1-next, #slide-2-next, #slide-3-next,
#slide-4-next, #slide-5-next, #slide-6-next, 
#slide-7-next {
  position: absolute; 
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#slide-2-prev, #slide-3-prev, #slide-4-prev,
#slide-5-prev, #slide-6-prev, #slide-7-prev,
#slide-8-prev {
  position: absolute; 
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.welcome {
  color: #E26A6A;
}

/*-- Simple CSS Reset -- */

* {
  padding: 0;
  margin: 0;
}

/* -- Header styles -- */

.homebanner {
  display: none;
  height: 80px;
  background-color: #3c4446;
}

.homebannertext {
  text-align: center;
  padding-top: 22px;
  font-family: 'Open Sans Condensed',serif;
  font-weight: bold;
  color: white;
}

.homebannertext span {
  color: #d6441b;
}

#logo {
  text-decoration: none;
  color:white !important;
}

#credits {
  position: absolute;
  bottom: 14px;
  right: 8px;
}

#credits a {
  color: #86AC97;
  text-decoration: none;
}

/* -- Slide styles -- */

.slides section{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* -- Form styles -- */


form.login {
/*  top: 50%;*/
/*  max-height: 140px;
  max-width: 390px;*/
  width: 500px;
/*  left: 50%;*/
/*  margin: -70px 0 0 -195px;*/
  margin: 0 auto;
  text-align: center;
  z-index: 100;
  height: auto;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 60px 0 0;
}

form.login h1 {
  color: #333;
}

form.login h2 {
  color: #333;
  padding-top:20px;
  margin-bottom: -10px;
}

form.login span {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #333;
  line-height: 50px
}

form.login input[type=text] {
  position: relative;
  width: 300px;
  height: 60px;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255,255,255, 0.8);
  border: 1px solid #C5C5C5;
  border-radius: 2px;
  margin-top: 26px;
}

form.login input[type=text].denied {
  border: 1px solid red;
  outline: none;
}

form.login input[type=text].animation {
  transition: 0.1s;
  -webkit-animation-name: shakeMe;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-delay: 0s;
  animation-name: shakeMe;
  animation-duration: 0.6s;
  animation-delay: 0s;
}

form.login input[type=text]::-webkit-input-placeholder {
  color: #ABABAB;
}

form.login input[type=submit] {
  position: relative;
  height: 50px;
  width: 60px;
  line-height: 29px;
  text-align: center;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background-color: rgba(90, 147, 187, 0.69);
  color: #fff;
}


@-webkit-keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@-moz-keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@-o-keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@keyframes shakeMe {
  0%   { left: -10px; }
  15%  { left: 5px; }
  30%   { left: -10px; }
  45%  { left: 5px; }
  60%   { left: -10px; }
  75%  { left: 5px; }
  90%   { left: -10px; }
  100%  { left: 5px; }
}

@media(max-width: 500px){
  form.login {
    max-height: 120px;
    max-width: 300px;
    margin: -60px 0 0 -150px;
    padding: 40px 0 0;
  }
}



